{% extends 'bootstrap5/bootstrap5.html' %}
{% load fontawesome_5 %}

{% load bootstrap5 %}
{% load static %}



{% if 'javascript_in_head'|bootstrap_setting %}
{% bootstrap_javascript %}

{% endif %}
{% block bootstrap5_extra_head %}
<script type="text/javascript">
    var user = '{{request.user}}'
    function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');

    function getCookie(name) {
        var cookieArr = document.cookie.split(';');
        for (var i=0 ; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split('=')
            if (name == cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }
    var cart = JSON.parse(getCookie('cart'))
    console.log('cart:', cart)
    if (cart == undefined) {
        cart = {}
        console.log('cart was created')
        document.cookie='cart='+JSON.stringify(cart)+";domain;path=/"
    }
</script>
{% fontawesome_5_static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}




{% block bootstrap5_content %}

<nav class="navbar navbar-expand-lg navbar-dark m-2 rounded-pill  px-4">
    <a class="navbar-brand" href="#">DShop</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">home</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'checkout' %}">checkout</a>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Category</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Clothes</a>
                    <a class="dropdown-item" href="#">Computer Hardware</a>
                    <a class="dropdown-item" href="#">Decoration</a>
                    <a class="dropdown-item" href="#">Watch</a>
                    <a class="dropdown-item" href="#">School Tools</a>
                    <a class="dropdown-item" href="#">Actions</a>

                </div>
            </li>
        </ul>
        <div class="d-flex my-2 my-lg-0">

            <a type="button" href="{% url 'cart' %}"
                class="btn btn-outline-light rounded-circle position-relative mx-3 h-75">
                {% fa5_icon 'shopping-cart' 'fas' %}

                <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-warning">
                    {{cartItems}}
                    <span class="visually-hidden">card content</span>
                </span>
            </a>
            <button type="button" class="btn btn-outline-light rounded-circle position-relative  mx-2 h-75 "
                aria-hidden="true">
                {% fa5_icon " fa-sign-in-alt" %}
            </button>



            <input type="text" class="form-control me-sm-2 rounded-pill" placeholder="Search"
                aria-label="Recipient's username" aria-describedby="basic-addon2">


        </div>
    </div>
</nav>
<div class="container mx-0">
    <h1>{% block title %}{% endblock %}</h1>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

    {% block content %}(no content){% endblock %}
</div>
<script type="text/javascript" src="/static/js/cart.js"></script>
{% endblock %}